{% extends 'base.html' %}
{% block content %}
  <div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
      <div class="card user-card">
        <div>
          <div class="image-wrapper">
            <img src="{{ g.user.header_image_url }}" alt="" class="card-hero">
          </div>
          <a href="/users/{{ g.user.id }}" class="card-link">
            <img src="{{ g.user.image_url }}"
                 alt="Image for {{ g.user.username }}"
                 class="card-image">
            <p>@{{ g.user.username }}</p>
          </a>
          <ul class="user-stats nav nav-pills">
            <li class="stat">
              <p class="small">Messages</p>
              <h4>
                <a href="/users/{{ g.user.id }}">
                  {{ g.user.messages | length }}
                </a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Following</p>
              <h4>
                <a href="/users/{{ g.user.id }}/following">
                  {{ g.user.following | length }}
                </a>
              </h4>
            </li>
            <li class="stat">
              <p class="small">Followers</p>
              <h4>
                <a href="/users/{{ g.user.id }}/followers">
                  {{ g.user.followers | length }}
                </a>
              </h4>
            </li>
          </ul>
        </div>
      </div>
    </aside>

    <div class="col-lg-6 col-md-8 col-sm-12">
      <ul class="list-group" id="messages">

        <!-- Followers Messages -->
        {% for msg in messages %}
          <li class="list-group-item">
            <a href="/messages/{{ msg.id }}" class="message-link"></a>
            <a href="/users/{{ msg.user.id }}">
              <img src="{{ msg.user.image_url }}" alt="" class="timeline-image">
            </a>
            <div class="message-area">
              <a href="/users/{{ msg.user.id }}">@{{ msg.user.username }}</a>
              <span class="text-muted">{{ msg.timestamp.strftime('%d %B %Y') }}</span>
              <p>{{ msg.text }}</p>
                

          <!-- Liked messages -->
          {% if msg in g.user.liked_messages%} 

          <form>
            <button formaction="/messages/{{ msg.id }}/like" formmethod="POST">
                <i class="fas fa-heart fa-lg" style="color: red; position: relative; z-index: 2">
                </i>
            </button>
          </form>
              
          {% elif msg.user.id != g.user.id %}
          <!-- Unliked Messages -->
          <form action="/messages/{{ msg.id }}/unlike" method="POST">
                <input type="submit" class="far fa-heart fa-lg" style="position: relative; z-index: 10">
                </input>
          </form>          
            {{form.is_liked(value=true)}}
          {% endif %}



    <!-- <input formaction=" /messages/{{ msg.id }}/like" type="submit" for="unlike" class="btn far fa-heart fa-lg" 
    style="position:relative; 
          color:black; 
          z-index:2">
          <i class="far fa-heart fa-lg" style="position: relative; z-index: 1"></i></i>
</input> -->

            </div>
          </li>
        {% endfor %}
      </ul>
    </div>

  </div>
{% endblock %}
